@charset "UTF-8";

@use 'variable' as v;
@use 'mixin' as m;

#works{
	padding-bottom: 137px;

	@include m.sp{
		padding-bottom: 77px;
	}
}

.works__title{
	margin-bottom: 70px;

	@include m.sp{
		margin-bottom: 45px;
	}
}
.works__items{
	display: flex;
	flex-wrap: wrap;

	@include m.sp{
		flex-direction: column;
	}
}
.works__item{
	width: calc((100% - 48px) / 3);

	@include m.sp{
		width: 100%;
	}

	&:not(:nth-child(3n)){
		margin-right: 24px;

		@include m.sp{
			margin-right: 0;
		}
	}

	&:nth-child(-n + 3){
		margin-bottom: 23px;
	}

	&:not(:last-child){
		@include m.sp{
			margin-bottom: 23px;
		}
	}
}